#main {

    background-color: #f8f9fa;
    text-align: center;
}

/* NAVBAR */
.navbar-brand {
    color: #fff;
    font-weight: 700;
    font-size: 1.9rem;
    margin-left: 10px;
}

.navbar-brand:hover {
    color: #fff;
}

/* FORM */

.container-fluid {
    padding: 4% 8%;
}

.form-control {
    width: 60%;
    display: inline-block;
    padding: 11px;
    box-shadow: none !important;
    border-radius: 6px;
}

.btn {
    box-shadow: none !important;
    margin-bottom: 4px;
    border-radius: 6px;
}

.creator {
    color: #7e889f;
    padding: 2%;
}